<div class="blog-post">
  <div class="title-bar">
    <label for="title"><strong>Give your post a title: </strong></label>
    <input id='title' class="field" type="text" placeholder="Title." name="title" />
  </div>
  <div class="post-area">
    <label for="post"><strong class="entry">Post your blog entry here: </strong></label>
    <textarea id='post' class="field" name="post" rows="4" cols="50" placeholder="Type here"></textarea>
  </div>
  <div class="post-button">
    <input class="send" id="button" type="submit" value="POST" />
  </div>
</div>
