$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
 // Bourbon & Neat
/*@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';*/

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

/*-----------------
COLORS AND FONTS
-----------------*/

$font-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
$chat-text: #000000;
$logo-text: #FFFFFF;
$footer-text: #FFFFFF;

$logo-bg: #000000;
$chat-input-bg: #0095D1;
$user-sidebar-bg: #959595;
$chat-output-bg: #FFFFFF;
$footer-bg: #970014;

@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
   border-radius: $radius;
}
/*---------
STYLES
---------*/

.blog-container {
	width: 100%;
	height: 100px;
}

h1{
  margin-left: 40px;
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  color: #970014;
}

.blog-post {
	width: 75%;
	height: 300px;
}

input[type="text"] {
  margin-left: 0;
  margin-bottom: 20px;
	width: 500px;
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}

.entry {
  vertical-align: top;
}

textarea {
  width: 500px;
  height: 300px;
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}

.newPost {
	margin-left: 80px;
}

.send {
	background: #970014;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  color: #fff;
  width: 75px;
	height: 40px;
	border: 1px #970014;
  @include border-radius (15px);
}

.post-button {
  margin-left: 400px;
  margin-top: 20px;
}

.blog-post-area {
  margin-top: -15px;
  margin-left: 30%;
  width: 60%;
  overflow: auto;
}

.blog-title {
  font-weight: bold;
  font-size: 2em;
}

.blog-output-user {
	font-weight: bold;
}

.blog-output {
  margin-top: -500px;
	width: 75%;
	height: 600px;
	float: right;
	padding-left: 15px;
}

.blog-output-date {
	float: right;
	margin-top: -70px;
	margin-right: 15px;
	font-family: $font-main;
	font-size: 14px;
	color: #A7A6B5;
}

.main-container {
  margin-top: 0;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: $footer-bg;
	text-align: center;
	color: $footer-text;
}
